/.idea/
/cudl-dev/.terraform/
/cudl-dev/.terraform.lock.hcl
/cudl-live/.terraform/
/cudl-live/.terraform.lock.hcl
/cudl-staging/.terraform/
/cudl-staging/.terraform.lock.hcl
/.terraform/
/modules/cudl-data-processing/properties_files/
/modules/cudl-data-processing/zipped_properties_files/
/cudl-production/.terraform/
/cudl-production/.terraform.lock.hcl
/modules/cudl-data-enhancements/properties_files/
/modules/cudl-data-enhancements/zipped_properties_files/
